:root {
  /* fonts */

  --pri-font: "Manrope", sans-serif;
  --sec-font: "Open Sans", sans-serif;

  /* colors */

  --light-blue: #0dbbfc;
  --green: #65e4a3;
  --light-grey: #f1f1f1;
  --dark-blue: #0a2640;
  --grey-blue: #8fb6d5;
  --white: #ffffff;
  --gray: #777777;
}

body {
  width: 100%;
  font-family: var(--sec-font);
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  color: var(--dark-blue);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

.container-main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

.heading-text-l {
  font-family: var(--pri-font);
  font-weight: normal;
  font-size: 28px;
  line-height: 3rem;
}

.heading-text-xl {
  font-family: var(--pri-font);
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.heading-text-xxl {
  font-family: var(--pri-font);
  font-weight: normal;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-bottom: 1rem;
}

.heading-text-xxxl {
  font-family: var(--pri-font);
  font-weight: normal;
  font-size: 64px;
  line-height: 84px;
}

.para-text-xs {
  font-family: var(--sec-font);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
}

.para-text-s {
  font-family: var(--sec-font);
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2rem;
}

.para-text-m {
  font-family: var(--sec-font);
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

button {
  outline: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

.button {
  padding: 10px 28px;
  border-radius: 56px;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  -ms-border-radius: 56px;
  -o-border-radius: 56px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--sec-font);
  line-height: 1.75rem;
  background-color: transparent;
}

.pri-btn {
  background-color: var(--green);
  color: var(--dark-blue);
}

.sec-btn {
  border-color: var(--white);
  color: var(--white);
}

.navbar.navbar-shadow {
  transition: 0.4s;
  background-color: var(--white);
  -webkit-transition: 0.3s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  z-index: 1000;
}

.navbar.navbar-shadow .logo-text {
  fill: var(--dark-blue);
}

.navbar.navbar-shadow ul {
  background-color: var(--white);
}

.navbar.navbar-shadow ul a {
  color: var(--dark-blue);
}

.navbar.navbar-shadow .btn {
  background-color: var(--dark-blue);
  color: var(--white);
}

.navbar.navbar-shadow .menu i {
  color: var(--dark-blue);
}

.section-margin {
  margin-top: 5.25rem;
  margin-bottom: 3rem;
}

.section-heading {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.section-heading p {
  color: var(--gray);
  margin-bottom: 0.75rem;
}

.section-title {
  color: var(--dark-blue);
}

/* flex */
.flex {
  display: flex;
}

.section-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.section-flex .left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-flex .left,
.section-flex .right {
  flex-basis: 46%;
}

/* grid */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 2rem;
}

.card-img {
  width: 100%;
  object-fit: contain;
  text-align: center;
  margin-bottom: 20px;
}

.card-title {
  color: var(--dark-blue);
  margin-bottom: .5rem;
}

.card-desc {
  color: var(--gray);
  margin-bottom: .75rem;
}

.card-btn {
  font-family: var(--sec-font);
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--dark-blue);
  cursor: pointer;
}

.card-btn i {
  padding-left: 2px;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

.card-btn:hover i {
  padding-left: 8px;
}