@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("./custom-style.css");



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-blue);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  align-items: center;
  column-gap: 10px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  overflow: hidden;
  background-color: transparent;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

.nav-left ul a {
  position: relative;
  color: var(--white);
}

.btn {
  padding: 4px 26px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  background-color: var(--white);
  border: none;
  outline: none;
  color: var(--dark-blue);
  font-weight: bold;
}

.menu {
  cursor: pointer;
  display: none;
}

.menu i {
  color: var(--white);
  font-size: 16px;
}

/* header */

.header {
  position: relative;
  width: 100%;
  padding-top: 130px;
  z-index: 99;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left,
.header-right {
  flex-basis: 49%;
}

.header-left h1 {
  color: var(--white);
}

.header-left p {
  margin-bottom: 8px;
  color: var(--light-grey);
}

.header-left .pri-btn {
  margin-right: 14px;
}

.header-right img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}

.header-left div {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.header-left button:hover {
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
}

.feature {
  width: 100%;
  height: 100vh;
}

/* features */



.features-right .flex {
  align-items: center;
  column-gap: 14px;
}

.checkbox-box {
  width: 26px;
  height: 26px;
  display: grid;
  place-items: center;
  background-color: var(--dark-blue);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.checkbox-box i {
  font-size: 12px;
  color: var(--white);
}

.features-right .flex p {
  color: var(--dark-blue);
}

.features-right .flex {
  margin-bottom: 10px;
}


/* testimonial */
.testimonial {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--dark-blue);
}

.testimonial .section-title {
  color: var(--white);
}

.testi-row {
  margin-top: 40px;
  margin-bottom: 28px;
  width: 100%;
  overflow-x: hidden;
}

.testi-card {
  margin: 0 20px;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: var(--white);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.testi-card .para-text-m {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.user-info  {
  margin-top: 1.5rem;
  align-items: center;
  column-gap: 15px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}

.user-name p {
  font-family: var(--sec-font);
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-blue);
}

.user-name small {
  font-family: var(--sec-font);
  font-size: 12px;
  font-weight: normal;
  line-height: 32px;
  color: var(--dark-blue);
}

/* @import url("./media-query.css"); */
